<div class="holder">
  <div class="info">
    <div>
      <span (click)="select.emit()">{{field.name}}</span>
      <span class="filter-details" *ngIf="this.field.filter" (click)="select.emit()">
        {{filterTypeOp}} {{field.filter.ref}}
      </span>
    </div>
    <div *ngIf="field.type" class="type"><span (click)="select.emit()">{{field.type}}</span></div>
  </div>
  <mat-icon *ngIf="field.filter">filter_list</mat-icon>
  <mat-icon *ngIf="field.order && field.order.type == 'ascending'">vertical_align_bottom</mat-icon>
  <mat-icon *ngIf="field.order && field.order.type == 'descending'">vertical_align_top</mat-icon>
  <div class="pin" [ngClass]="{'joined': joined}" (click)="join.emit()" *ngIf="field.schema.type == 'ref'"></div>
</div>
