<div class="container">
  <model *ngFor="let model of models"
    [model]="model"
    [select]="model == selectModel"
    (join)="addJoin($event)"
    (click)="closeJoin(model)"
    (pick)="closeJoin(model)"
    (fieldSelect)="selectField($event)"
    ></model>

  <join *ngFor="let join of joins" [join]="join"></join>

  <div class="buttons">
    <button (click)="addOverlay.activate()">+</button>
    <button (click)="addOverlay.activate()" class="play"><mat-icon>play_arrow</mat-icon></button>
  </div>

  <overlay #addOverlay>
    <p>Select a model to add to your query.</p>
    <br><br>
    <div class="model-select" (click)="addModel(central.schemas.user)">User</div>
    <div class="model-select" (click)="addModel(central.schemas.subscription)">Subscription</div>
    <div class="model-select" (click)="addModel(central.schemas.journal)">Journal</div>
    <div class="model-select" (click)="addModel(central.schemas.article)">Article</div>
  </overlay>

  <overlay #aliasOverlay>
    <p>You need to specify an alias for this model since you already have one such model in your query.</p>
    <br><br>
    <input type="text" #aliasInput />
    <br>
    <button (click)="addFreeModel(aliasInput.value)">Done</button>
  </overlay>

  <overlay #fieldOverlay>
    <p>Filter results by {{selectedField?.name}} of {{selectedField?.model?.alias || selectedField?.model?.name}}:</p>
    <br>
    <div class="filter-type" (click)="filterType='before'" [ngClass]="{'active': filterType == 'before'}">&lt;</div>
    <div class="filter-type" (click)="filterType='beforeeq'" [ngClass]="{'active': filterType == 'beforeeq'}">&lt;=</div>
    <div class="filter-type" (click)="filterType='equals'" [ngClass]="{'active': filterType == 'equals'}">==</div>
    <div class="filter-type" (click)="filterType='neq'" [ngClass]="{'active': filterType == 'neq'}">!=</div>
    <div class="filter-type" (click)="filterType='aftereq'" [ngClass]="{'active': filterType == 'aftereq'}">&gt;=</div>
    <div class="filter-type" (click)="filterType='after'" [ngClass]="{'active': filterType == 'after'}">&gt;</div>
    <br>
    <input type="text" [(ngModel)]="filterRef" placeholder="reference value ..."/>
    <div class="button-holder">
      <button (click)="applyFilter()">APPLY FILTER</button>
    </div>
    <br><br><br>
    <hr>
    <br><br><br>
    <p>Order results based on {{selectedField?.name}} of {{selectedField?.model?.alias || selectedField?.model?.name}}:</p>
    <br>
    <div class="order-type" (click)="orderType='ascending'" [ngClass]="{'active': orderType == 'ascending'}">
      <mat-icon>vertical_align_bottom</mat-icon>
    </div>
    <div class="order-type" (click)="orderType='descending'" [ngClass]="{'active': orderType == 'descending'}">
      <mat-icon>vertical_align_top</mat-icon>
    </div>
    <div class="button-holder">
      <button (click)="applyOrder()">APPLY ORDER</button>
    </div>
  </overlay>
</div>
