.container {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  background-image: url('/assets/bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vmin;

  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    button {
      vertical-align: top;
      width: 96px;
      height: 96px;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      border: 4px solid white;
      font-size: 48px;
      font-weight: bold;
      border-radius: 96px;

      &.play {
        mat-icon {
          transform: scale(2);
        }
      }
    }
  }

  .model-select {
    width: 32vw;
    height: 200px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 8px;
    margin: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background .15s;

    &:hover {
      background: #212121;
    }
  }

  .filter-type, .order-type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .15s, border-color .15s;

    &:hover {
      background: rgba(255, 255, 255, .25);
    }

    &.active {
      border-color: #F5A623;
      background: #F5A623;
    }
  }
}
