.holder {
  position: fixed;
  width: 100px;
  height: 2px;
  border-top: 2px solid #F5A623;
  transform-origin: center left;
  opacity: .5;
  transition: opacity .15s;

  &:hover {
    opacity: 1;
  }

  img {
    position: absolute;
    right: -2px;
    top: -13px;
    transform: scale(0.35);
    transform-origin: center right;
  }
}
