/* You can add global styles to this file, and also import other style files */
body, * {
  padding: 0;
  margin: 0;
  font-family: Futura, 'Nunito', sans-serif;
}

.button-holder {
  text-align: right;
  width: 55vw;
  margin: 0 auto;
}

button {
  width: 128px;
  height: 32px;
  background: none;
  outline: none;
  border: 1px solid white;
  border-radius: 32px;
  color: white;
  margin: 8px;
  cursor: pointer;
  transition: background .15s, color .15s;

  &:hover {
    background: white;
    color: #212121;
  }
}

input {
  background: black;
  border: 1px solid white;
  border-radius: 32px;
  display: block;
  height: 32px;
  width: 50vw;
  text-align: center;
  color: white;
  outline: none;
  padding: 0 8px;
  margin: 0 auto;
}

hr {
  border-color: #424242;
}
